body
{
 font:15px/1.5 Arial,Helvetica,sans-serif;
 padding:0;
 margin:0;
 background-color:#A9A9A9;
}
.container
{
width:80%;
margin:auto;
overflow:hidden;
}
header
{
position:relative;
background:#19925b;
color:#e2d904;
padding-top:30px;
font-size:30px;
text-transform:uppercase;
letter-spacing:4px;
text-decoration:none;
overflow:hidden;
transition:0.6s;
min-height:70px;
border-bottom:#FE0002 4px solid;
}
header .highlight,header .current a
{
 color:#80ee00;
 font-weight:bold;
}
header a
{
 color:#ffffff;
 text-decoration:none;
 text-transform:uppercase;
 font-size:16px;
}
header ul
{
 margin:0;
 padding:0;
}
header li
{
 float:left;
 display:inline;
 padding:0 20px 0 20px;
}
header #branding
{
 float:left;
}
header #branding h1
{
 margin:0;
}
header nav
{
 float:right;
 margin-top:10px
}
header a:hover{
 color:#00eeac;
 font-weight: bold;
 transition: 1s;
 animation: left;
}
#showcase{
  min-height: 300px;
  background:url('../img/4k.jpg')no-repeat;
  text-align: center;
  text-align: right;
  color:#ffffff;
  font-size: 40px;
  animation-play-state: running;
  transition-duration: 1s;
  margin-bottom:#870274;
}
showcase h1
{
  margin-top: 100px;
  margin-bottom: 10px;
}
#newsletter
{
  padding:10px;
  color:#ffffff;
  background:#1189d2;
}
#newsletter h1
{
  float:left;
}
#newsletter form{
  float:right;
  margin-top: 10px
}
#newsletter input[type="text"]
{
  padding:10px;
  height:20px;
  width: 420px;
}
.button1
{
  height:44px;
  background:#139dd2;
  border: 3px;
  border-radius: 9px;
  padding-left: 20px;
  padding-right: 20px;
  color:#000000;
  font-weight: bold;
}
#boxes{
  margin-top: 10px;
}
#boxes a
{
  font-size: 25px;
  font-weight:bold;
  color: #ffffff;
}
#boxes .box{
  float:left;
  font-size: 22px;
  width: 30%;
  padding: 10px;
  text-align:center;
  text-shadow: 3px 3px 7px #012;
}
#boxes .box img{
  width: 200px;
}
footer{
  padding: 30px;
  margin-top: 20px;
  color: #ffffff;
  background-color:#7f18ec;
  text-align: center;
}
footer a
{
  color:#ffffff;
  font-size: 15px;
  float: center;

}
#skill .sk
{
  text-align: center;
  font-weight: bold;
  font-family: Gill Sans, sans-serif
  color: #e95313;
  font-size: 50px;
}
#skill
{
  height: 80px;
  color:#ece318;
  background: #13d26d;
  text-align: center;
  padding-bottom: 80px;
  text-shadow: 2px 2px 8px #666;
}
aside #sidebar
{
  float:right;
  width:30%;
  margin-top: 10px;
}
article #main-col
{
  float:left;
  width:45%;
}
.dark
{
  padding: 15px;
  background: #35424a;
  color:#ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
#link1
{
  text-shadow:0.15em 0.15em #333;
  text-transform: capitalize;
  text=border-left-width: bold;
  text-align: center;
  font-size: 20px;
  float: center;
}
#link1 a
{
  float:left;
  width: 33%;

}
#center
{
  text-align: center;
  float: center;
  text-decoration: underline;
}
#main{
  font-size: 22px;
  text-align: justify;
}
.container h3
{
  color: #81e30f;
}
